$input: #{$prefix}-input;
.#{$input} {
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: $radius;
  position: relative;
  @include transMixin();
  &-focus {
    border-color: $primary-color;
  }
  &-invalid {
    border-color: $warn-color;
  }
  &-disabled {
    background: $disable-bg-color;
  }

  &-wrap {
    input {
      background: none;
      border: none;
      outline: none;
      line-height: 2rem;
      padding: 0 0.5rem;
      display: block;
      width: 100%;

      &::placeholder {
        color: darken($border-color, 10%);
      }
    }
  }

  &-error-message{
      padding: 0.3rem 0 0 0 ;
      line-height: 1.2rem;
      font-size: 1rem;
       color:$warn-color;
  }
}
