$prefix: 'atd';
$radius: 5px !default;
$primary-color: #6faeff !default;
$accent-color: gold !default;
$warn-color: #E72545 !default;
$text-color: #222 !default;
$border-color: rgb(222, 222, 222) !default;
$disable-bg-color: rgb(227, 227, 227) !default;
$liner-gradient: linear-gradient(250deg, #7b2ff7, #f107a3)
